 <section>
      <div id="subscribe-section">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
              <div class="newsletter-title text-center">
                <h4>Stay Tuned With Online Music</h4>
              </div> <!-- end newsletter-title -->
              <form class="form-inline subscription-form mailchimp" id="subscribeform" method="POST" action="/search">
                  <!-- Subscription messages -->
                  <h5 class="subscription-success"></h5>
                  <h5 class="subscription-error"></h5>
                <!-- Email input -->
                <div class="form-group newsletter-field">
                  <input type="text" name="SEARCHQ" class="form-control" id="subscriber-email" placeholder="Get the vamps songs">
                </div>
                <!-- Subscribe button -->
                <button type="submit" id="subscribe-button" class="btn btn-sm btn-dark">SEARCH</button>
              </form>
            </div> <!-- end col-sm-6 -->
          </div> <!-- end row -->
        </div> <!-- end container -->
      </div> <!-- end subscribe-section -->
    </section>
    <!-- End subscribe section -->





<section>
      <div id="video-section" data-stellar-background-ratio="0" style="background-position: 50% -146.375px;">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="video-section-content text-center">
                <a href="http://vimeo.com/channels/staffpicks/116829150" class="video-pop-up"><i class="fa fa-play"></i></a>
                <div class="video-head">Introducing Video</div>
                <div class="video-sub-heading">Check out our video presentation</div>
              </div>
            </div> <!-- end col-sm-6 -->
          </div> <!-- end row -->
        </div> <!-- end container -->
      </div>
    </section>

<br>
<br>

  <section>
      <div id="video-section" data-stellar-background-ratio="0" style="background-position: 50% -146.375px;">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="video-section-content text-center">
                <a href="http://vimeo.com/channels/staffpicks/116829150" class="video-pop-up"><i class="fa fa-play"></i></a>
                <div class="video-head">Introducing Video</div>
                <div class="video-sub-heading">Check out our video presentation</div>
              </div>
            </div> <!-- end col-sm-6 -->
          </div> <!-- end row -->
        </div> <!-- end container -->
      </div>
    </section>

<br><br>



            <section>
      <div id="video-section" data-stellar-background-ratio="0" style="background-position: 50% -146.375px;">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="video-section-content text-center">
                <a href="http://vimeo.com/channels/staffpicks/116829150" class="video-pop-up"><i class="fa fa-play"></i></a>
                <div class="video-head">Introducing Video</div>
                <div class="video-sub-heading">Check out our video presentation</div>
              </div>
            </div> <!-- end col-sm-6 -->
          </div> <!-- end row -->
        </div> <!-- end container -->
      </div>
    </section>